# Ametnes Credentials
username = "user@example.com"
token    = "*************************************************"
project  = "Default"

# Instance credentials
admin_user = {
  name     = "AdminUser"
  password = "abc123"
}
cluster_user = {
  name     = "ClusterUser"
  password = "abc123"
}

# AWS Location
aws_location = {
  code = "AWS-USE1-DSL1"
  name = "Ametnes"
}

# GCP Location
gcp_location = {
  code = "GCP-USC1-DSL1"
  name = "Ametnes"
}
